<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <style>

      body{

        margin: 0;
        padding: 0;
      }

      .fs-small{
        font-size: .9em;
      }
      .whole{
        width: 100%;
        height: 80vh;
      }
      .mycontainer {
        border: 1px solid red;
        /* width: 100%;
        height: 50vh; */
      }

      li {
        list-style: none;
      }

      .user-btn {
        /* border: 1px solid red; */
        cursor: pointer;
      }

      .vertical-line{
        border: 1px solid white;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      .indec{
        cursor: pointer;
      }

      .truncate {
        width: 150px; /* Set your desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Adds ellipsis (...) if the content overflows */
      }

      .gridcontainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto ;
        padding-left: 500px;
        padding-right: 500px;
      }

      .box_square{
        width: 250px;
        height: 200px;
      }

      .bg-blue{
        border: .1px solid #6b7280;
        background-color: #f3f4f6;
      }

    </style>

    <title>E-Commerce</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

   </head>
  <body">

  <%- include('navbar'); -%>
  

    <script src="js/bootstrap.min.js"></script>
  
  </body>
</html>
